 
        <div id="main-fixed">
          
        </div>

        <div  class="container">
        <div class="row">
              <div class="col-lg-12">
              <div id="hat">
          <%= image_tag "label.png", title: "label" %>
        </div>
              <div id="htop">
                 <p class="text-center" id="title-rusem">
                Омская Строительная Компания РусЭМ
               </p>
               <p  class="text-right" id="telefax"><span><%= image_tag "zvonki.png" %>Телефон/факс: (3812) 40-69-59</span> <br /> <span><%= image_tag "mail.png" %>Е-mail: sk-rusm@yandex.ru</span> </p>
              </div>
              </div>
          
        </div>
          
        </div>

<div class="container">
  <div class="row">
  <div class="col-lg-1">
    
  </div>


  <div class="col-lg-10 menubar">

    <table>
       
      
        <tr>
          <td><%= link_to 'ГЛАВНАЯ', root_path %></td><td><%= link_to "строительные работы", constructions_path %></td><td><%= link_to 'стройматериалы', materials_path %></td>



          <td>


         
 
                      <ul class="nav nav-pills">
                      
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            недвижимость <br /> <span class="glyphicon glyphicon-chevron-down"></span>

                        </a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "недвижимость", buildings_path %></li>
                          <li><%= link_to "строительные работы", constructions_path %></li>
                        </ul>
                      </li>
                      
                    </ul>


          </td>


          <td><%= link_to 'новости', news_path %></td><td><%= link_to 'прайс', price_path %></td>

 



        </tr>
      


    </table>
  </div>

  <div class="col-lg-1">
    
  </div>
    
  </div>
  
</div>
