      <div class="container">
        <div class="row whitefone">

<h1>Новости</h1>

 
    <% @news.each do |news| %>
       <em id="datanews"> <%= news.created_at.strftime("%m-%d-%Y") %></em>
       <p id="titlenews"><strong> <%= news.title %></strong></p>
       <p> <%= simple_format news.body %>

        <% if user_signed_in? %>
        <% if current_user.is_admin %>  

        <%= link_to 'Изменить', edit_news_path(news), class: "btn btn-warning btn-sm" %>
        <%= link_to 'Удалить', news, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Удалить безвозвратно?' } %>
    <% end %>
    
     <% end %>
     </p><hr />
            <% end %>

<br>
<% if user_signed_in? %>
        <% if current_user.is_admin %>
<%= link_to 'Добавить новость', new_news_path, class: "btn btn-success btn-sm pull-right" %>
 <% end %>
        <% end %>

            </div>
            </div>