      <div class="container">
        <div class="row whitefone">

<h1>Новости</h1>

 
    <% @news.each do |news| %>
  
       <p><strong> <%= news.title %></strong> <br />
       <em> <%= news.created_at.strftime("%m-%d-%Y") %></em></p>
       <p> <%= simple_format news.body %>

        <% if user_signed_in? %>
        <% if current_user.is_admin %>  

        <%= link_to 'Edit', edit_news_path(news), class: "btn btn-warning btn-sm" %>
        <%= link_to 'Destroy', news, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    
     <% end %>
     </p><hr />
            <% end %>

<br>
<% if user_signed_in? %>
        <% if current_user.is_admin %>
<%= link_to 'New News', new_news_path, class: "btn btn-success btn-sm pull-right" %>
 <% end %>
        <% end %>

            </div>
            </div>