<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row whitefone">

<h1>Listing Constructions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constructions.each do |construction| %>
      <%= image_tag construction.image.url(:thumb) %>
      <tr>
        <td><%= construction.title %></td>
        <td><%= truncate(construction.body, lengt: 200) %></td>
        <td><%= link_to 'Show', construction %></td>
        <td><%= link_to 'Edit', edit_construction_path(construction) %></td>
        <td><%= link_to 'Destroy', construction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Construction', new_construction_path %>
</div></div>