
<div class="container">
  <div class="row whitefone">

<h1>Строительные работы</h1>

 
    <% @constructions.each do |construction| %>
      <p><%= construction.title %> </p>
       <%= image_tag construction.image.url(:thumb) %>
        <p>  <%= link_to truncate(construction.body, length: 1000), construction %> </p>
 

        <% if user_signed_in? %>
        <% if current_user.is_admin %>
            <td><%= link_to 'Edit', edit_construction_path(construction) %></td>
            <td><%= link_to 'Destroy', construction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
            <% end %>
      
    <% end %>
 

<br>

        <% if user_signed_in? %>
        <% if current_user.is_admin %>
<%= link_to 'New Construction', new_construction_path %>
            <% end %>
            <% end %>
</div></div>