

<div class="container">
  <div class="row whitefone">

<p>
  
  <%= @construction.title %>
</p>

<p>
   
   <%= image_tag @construction.image.url(:medium) %>
  <%= simple_format @construction.body %>
</p>
<% if user_signed_in? %>
  <% if current_user.is_admin %>
    <%= link_to 'Изменить', edit_construction_path(@construction), class: "btn btn-warning btn-sm pull-right" %> <span class="pull-right">&nbsp;</span>
<% end %>
<% end %>
<%= link_to 'Назад', constructions_path, class: "btn btn-success btn-sm pull-right" %>


</div>
  </div>