      <div class="container">
        <div class="row whitefone">

<h1> Строительные материалы</h1>

 
    <% @materials.each do |material| %>
      <tr>
        <%= material.title %>
        <%= image_tag material.image.url(:thumb) %>
        <%= link_to truncate(material.body, length: 1000), material %>

         <% if user_signed_in? %>
        <% if current_user.is_admin %>
        <p>
        <%= link_to 'Изменить', edit_material_path(material), class: "btn btn-warning btn-sm" %>
        <%= link_to 'Удалить', material, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Удалить насовсем?' } %>
      </p>
     <% end %>
            <% end %>
   
    <% end %>


<br>
        <% if user_signed_in? %>
        <% if current_user.is_admin %>
<%= link_to 'Добавить статью', new_material_path, class: "btn btn-success btn-sm pull-right" %>
         <% end %>
        <% end %>

            </div>
            </div>