 <div id="footer">
 <div class="container">
 <h2 style="text-align: center;">Наши заказчики:</h2> 
 <p style="text-align: center;"><a href="http://www.redkuadrate.ru/" title="ООО &quot;Красный квадрат&quot;"><%= image_tag 'redsquare.png' %></a> 

 <img border="0" height="10" src="http://almair.pro/images/space.png" width="10" />

 <img border="0" height="10" src="http://almair.pro/images/space.png" width="10" />

  <a href="http://www.oemz.ru/" title="ОАО &quot;Омский электромеханический завод&quot;">

  <%= image_tag 'omz.png' %>
  </a>

  <br /> <a href="http://www.titan-omsk.ru/" title="Группа компаний &quot;Титан&quot;">
  <img border="0" height="10" src="http://almair.pro/images/space.png" width="10" />

  <%= image_tag 'titan.png' %>
  </a> 

    

  <img border="0" height="10" src="http://almair.pro/images/space.png" width="10" />

  <a href="http://stb-ohrana.ru/" title="Группа компаний &quot;СТБ&quot;">
  <%= image_tag 'stb.png' %>
  </a>



   <a href="https://www.parfum-lider.ru/"> <%= image_tag('parfum.png') %></a>

   <p style="text-align: center;"><span style="color: #838383; font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 20px; text-align: start;">Строительная компания &quot;РусЭМ&quot;: качественный пиломатериал, деревянные дома, стройка и ремонт, строительная техника в аренду.</span></p> 

 </div>
</div>
